<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<ul>
    <!--/*@thymesVar id="users" type="java.util.List<com.sda.springcourse.model.User>"*/-->
    <li th:each="user : ${users}">
        <a th:href="'/users/' + ${user.id}" href="#">Profile</a>
        <h1 th:text="${user.firstName} + ' ' + ${user.lastName}">Szymon Nowak</h1>
        <p th:text="'Phone Number: ' + ${user.phoneNumber}">Phone Number: 123457</p>
    </li>
</ul>
<div th:replace="fragments/alert :: creationStatus-alert (status=${creationStatus})">
    <h1>Status message</h1>
</div>
<form method="post" action="/users">
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <input type="text" name="phoneNumber" placeholder="Phone Number">
    <button type="submit">Submit</button>
</form>
</body>
</html>